# Spark build files
project/
target/

# Datasets
**/data/MNIST/
**/data/eastpac/
**/data/natlantic/
checkpoint*.pth.tar

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Python/Jupyter
.ipynb_checkpoints/
__pycache__/
